# Unicorn configuration

# the path to place the application
APP_PATH = "/var/www/simple-sinatra-app"

#number of worker
worker_processes 1

# point to project directory
working_directory APP_PATH 

# listen to local socket
listen "127.0.0.1:9494"

# request time out time,unit is seconds
timeout 180

# unicorn log path
stderr_path APP_PATH + "/log/unicorn.stderr.log"
stdout_path APP_PATH + "/log/unicorn.stdout.log"

# unicorn master pid
# # unicorn pid path
pid APP_PATH + "/tmp/pids/unicorn.pid"

